* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #d2d1d1;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-section {
    color: white;
    background-color: #131921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-country {
    color: #ccc;
    display: flex;
    align-items: end;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
}

#country-name {
    color: white;
    font-size: 14px;
    font-weight: bolder;
}

.nav-search-area {
    color: #808080;
    background-color: white;
    max-width: 1000px;
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-left: 15px;
}

.search-category {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background-color: #e6e6e6;
    border-radius: 4px 0 0 4px;
}

.search-category:hover {
    background-color: #c1c1c1;
    cursor: pointer;
}

.nav-search {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
}

.nav-search-icon {
    background-color: #febd69;
    max-width: 40px;
    padding: 10px;
    border-radius: 0 4px 4px 0;
}

.nav-search-icon:hover {
    background-color: #ffb048;
    cursor: pointer;
}

.language-selection-area {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 2px;
    margin-left: 15px;
    cursor: pointer;
}

.sign-in-area {
    color: #ccc;
    font-size: 12px;
    margin-left: 15px;
}

.account-info {
    color: white;
    font-size: 14px;
    font-weight: bolder;
}

.product-return-area {
    color: #ccc;
    font-size: 12px;
    margin-left: 15px;
    cursor: pointer;
}

.return-info {
    color: white;
    font-size: 14px;
    font-weight: bolder;
}

.add-to-cart-area {
    display: flex;
    align-items: center;
    margin: 0px 15px;
}

.add-to-cart-area p {
    font-size: 14px;
    font-weight: bolder;
    margin-top: 15px;
}

.nav-belt {
    color: white;
    background-color: #232f3e;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
}

.nav-belt div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    cursor: pointer;
}

.nav-belt p {
    cursor: pointer;
}


.main-slider ul{
    display: flex;
    overflow-y: hidden;
}

.main-slider-img {
    max-width: 100%;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.main-slider a {
    text-decoration: none;
    position: absolute;
    top: 25%;
    z-index: 1;
    padding: 5vh 1vw;
}

.slide-left {
    position: absolute;
    left: 0;
}

.slide-right {
    position: absolute;
    right: 0;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}

.card-col {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 24%;
    min-height: 200px;
    gap: 10px;
    padding: 15px 20px;
    z-index: 1;
}

.card-col p{
    font-size: 18px;
    font-weight: bolder;
}

.card-col a {
    font-size: 13px;
    color: #009999;
    font-weight: 500;
}

.slider-card-row {
    margin-top: -20vw;
}

.products-slider {
    background-color: white;
    margin: 0 30px 15px 30px;
    padding: 20px;
}

.products-slider .products {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}

.products-slider .products img {
    max-width: 200px;
    max-height: 200px;
}

.products-slider .products::-webkit-scrollbar {
    display: none;
}

.price-included-slider {
    background-color: white;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}

.price-included-slider .products {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}

.price-included-slider .products::-webkit-scrollbar {
    display: none;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 200px;
    background-color: #f7f7f7;
}

.product-card img {
    width: 110px;
    margin: 0 50px;
}

.product-offer p {
    color: white;
    background-color: #be0b3b;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size: 13px;
}

.product-offer span {
    color: #be0b3b;
    font-size: 12px;
    font-weight: 500;
}

.product-price {
    color: gray;
    font-size: 13px;
}

.recommanded-product-info {
    color: #525252;
    font-size: 14px;
    font-weight: 400;
}

footer {
    margin-top: 15px;
}

.panel-1 {
    color: white;
    background-color: #37475a;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: sans-serif;
}

.panel-2 {
    color: white;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
}

.panel-2 ul {
    margin-top: 20px;
}

.panel-2 ul a{
    display: block;
    font-size: 13px;
    color: #ccc;
    margin-top: 10px;
}

.panel-2 p {
    font-size: 16px;
    font-weight: bolder;
    margin: 16px 0;
}

.panel-3 {
    background-color: #232F3E;
    border-top: 0.5px solid white;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
}

.panel-3 a {
    margin-top: 10px;
}

.footer-region-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #cccccc;
    margin-left: 50px;
}

.panel-3 p {
    margin: 0 5px;
    padding: 0 20px;
    border: 0.5px solid #cccccc;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    line-height: 20px;
    cursor: pointer;
}

.panel-3 span {
    color: white;
}

.footer-region-info img {
    margin-right: 5px;
}

.panel-4 {
    color: white;
    height: 35px;
    background-color: #131A22;
    display: flex;
    justify-content: center;
    align-items: center;
}