* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: 12px;
    color: #0066c0;
    font-family: sans-serif;
}

a:hover {
    color: #bc7a00;
}

p {
    font-size: 12px;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#amazon-logo-img {
    margin: 20px 0;
}

.new-registration-section {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 600px;
    border: 0.5px solid #ddd;
    border-radius: 10px;
    padding: 0 25px;
}

#registration-head {
    font-size: 27px;
    font-weight: 500;
    margin: 20px 0;
}

label {
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 3px 0 5px;
}

input {
    outline: none;
    border: 1px solid #a2a2a2;
    font-size: 13px;
    padding: 6px 5px;
    margin-bottom: 15px;
    border-radius: 3px;
}

#password-input {
    margin-bottom: 3px;
}

#re-enter-password-label {
    margin-top: 20px;
}

#submit-btn {
    padding: 7px;
    background-color: #fcd200;
    border: none;
    border-radius: 8px;
}

#submit-btn:hover {
    cursor: pointer;
    background-color: #e9c200;
}

.terms {
    margin: 25px 0 10px;
}

#division-line {
    margin: 20px 0 5px;
    border-top: 0.5px solid #d6d6d6;
}

.bussiness-registration {
    margin-top: 10px;
}

.bussiness-registration p {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
}

.bussiness-registration a {
    font-size: 13px;
    text-decoration: none;
}

#division-line-2 {
    margin: 20px 40px 5px;
    border-top: 0.5px solid #d6d6d6;
}

#already-created-account {
    font-size: 13px;
    margin-top: 20px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    height: 100px;
    background-color: #f9f9f9;
    border-top: 0.5px solid #ddd;
}

.terms {
    display: flex;
    margin: 25px 0 20px;
    gap: 25px;
}

footer a {
    font-size: 12px;
    text-decoration: none;
}

footer a:hover {
    color: #bc7a00;
}

.rights {
    color: #555;
    font-family: sans-serif;
    font-size: 12px;
}